{% extends 'base.html' %}
{% block content %}

    <div id="cover" style="overflow: scroll !important" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
      <div style="margin-top: 2rem;" id="homepage_div" class="col-md-5 p-lg-5 mx-auto my-5nx">
        <div class="typewriter">
          <h1 class="type_header">Certifications</h1>
        </div>
        <br>
        <h3>Front-End Certification (Kenzie Academy)<h3>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      <div style="overflow: scroll !important" id="cover" class="position-relative overflow-hidden m-md-3 text-center">
        <img src="/static/img/kacertificate.png">
    </div>
    </div>
    


{% endblock %}