{% extends 'base.html' %}
{% block content %}
    
    <div style="overflow: scroll !important" id="cover" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <section id="what-we-do">
      <div class="section-content">
        <div class="container">
        <div class="typewriter">
          <h1 class="type_header contact_header">My Developer Skillsets</h1>
        </div>
          <p class="lead">
            I have a solid background in a wide range of both front-end and back-end developer skills, 
            many of which find themselves overlapping in countless sectors of the industry.
          </p>
        </div>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">HTML/CSS</h5>
              <p class="card-text">
                Edited, designed, and implemented website graphics for 
                both public and gated sites to comply with latest
                style guides for various projects. Created visual designs 
                for web pages based on UI Team prototypes.
              </p>
            </div>
            <div class="card-footer">
              <img src="/static/img/htmlcsslogo.png" style="width: 2rem; height: 2rem;"/>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Javascript/React.js</h5>
              <p class="card-text">
              Designed and implemented user interface components for 
              JavaScript-based web and mobile applications using the 
              React open source library ecosystem. Building  
              easy to use, user-friendly websites and applications while using Javascript,
              along with inplementing React.js and React-Redux. 
              </p>
            </div>
            <div class="card-footer">
              <img src="/static/img/reactjslogo.webp" style="width: 2rem; height: 2rem;"/>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Python</h5>
              <p class="card-text">
                Extensive experience in using Python to handle tasks 
                like web development, scripting, web scraping, data analysis, 
                data migration, and automation. Familair with different framworks 
                of the language, as well as experienced in incorporated ORM libraries.
              </p>
            </div>
            <div class="card-footer">
              <img src="/static/img/pythonlogo.jpg" style="width: 2rem; height: 2rem;"/>
            </div>
          </div>
        </div>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Django</h5>
              <p class="card-text">
                Built and maintained Django-based projects that utilized 
                admin interface, code reusability, CDN integration and ORM.
                Collaborated with other developers to handle complicated 
                issues related with deployment of Django based applications.
                Continuous maintenance and troubleshooting of Python Django projects.
            </div>
            <div class="card-footer">
              <img src="/static/img/djangologo.png" style="width: 4rem; height: 3.5rem; margin-top: -0.75rem; margin-bottom: -0.75rem;"/>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Web Architecture & Protocols</h5>
              <p class="card-text">
                Current with all HTTP/HTTPS/SSH protocols, and up-to-date 
                Git/Github/Gitlab procedures. Knowledgable on CRUD, MEAN, 
                MERN development-stacks, as well as SASS/LESS, XML, REST. 
              </p>
            </div>
            <div class="card-footer">
              <img src="/static/img/httplogo.png" style="width: 4.5rem; height: 3.5rem; margin-top: -0.75rem; margin-bottom: -0.75rem;"/>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">REST APIs</h5>
              <p class="card-text">
                Assisted in development and maintenance of new APIs 
                for integration with numerous applications.
                Developed scalable modular software packages for 
                various APIs and applications. Implemented procedures 
                for measurement and optimization of performance of new and current systems.
                Resolved technical problems relating to API application by identification 
                and fixing bugs.
              </p>
            </div>
            <div class="card-footer">
              <img src="/static/img/apilogo.png" style="width: 2rem; height: 2rem;"/>
            </div>
          </div>
        </div>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Database Creation & Interaction</h5>
              <p class="card-text">
                Designing and running custom databases and optimized diverse SQL queries. 
                Developed, tested and tuned database code and information.
                Created custom scripts, triggers, and storage procedures.
                Implemented applications utilizing MPTT, MongDB, CompassDB, Django REST 
                Framework, PosgreSQL, MySQL.
              </p>
            </div>
            <div class="card-footer">
              <img src="/static/img/databaselogo.png" style="width: 8rem; height: 2rem; height: 4rem; margin-top: -1rem; margin-bottom: -1rem;"/>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">NPM</h5>
              <p class="card-text">
                Experienced in installing Node packages using NPM. Well-versed with 
                using said package manager to both install and manage all current packages, 
                as well as troubleshooting and installation/updating protocols. 
              </p>
            </div>
            <div class="card-footer">
              <img src="/static/img/npmlogo.png" style="width: 3.5rem; height: 3.5rem; margin-top: -0.75rem; margin-bottom: -0.75rem;"/>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Responsive Web Design</h5>
              <p class="card-text">
                Extensive experience with CSS/HTML5 layout and cross-browser compatibility.
                Versed in responsive-design layout utilizing CSS, AJAX, jQuery, SASS and Bootstrap 
                4. Implemented responsive design PayPlay integration into e-commerce application. 
              </p>
            </div>
            <div class="card-footer">
              <img src="/static/img/responsivelogo.png" style="width: 3.5rem; height: 3.5rem; margin-top: -0.75rem; margin-bottom: -0.75rem;"/>
            </div>
          </div>
        </div>
      </div>
    </section>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      
    </div>
    
    
{% endblock %}