/* styles.css */

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}

#cover {
    background: #222 url('img/portbg.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto!important;
    position: absolute !important;
    width: 100% !important;
    overflow-y: hidden !important;
}

#cover-captiion {
    width: 100%;
}

.banner_div {
    margin: auto!important;
}

#forms {
    flex-flow: nowrap!important;
}

.btn-sm {
    font-size: 20px;
    border-radius: 10px;
    width: 50%!important;
    margin-top: 5%;
    margin-bottom: 5%;
}

.form_group {
    padding: none!important;
}

.form-signin {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;

}

.h3 {
    margin-top: -15px!important;
    color: black;
    font-size: small;
}

.card-deck {
    padding-top: 2%;
    padding-bottom: 2%;
}

.section-content {
    padding: 5rem 0;
}

#about {
    background: url('img/girlincar.jpg') center center no-repeat;
    background-size: cover;
}

.about-text {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
}

#about-btn {
    color: white;
}

